<div>
	<h1 class="title">Is a Bus Nearby?</h1>

<p>Give us your address or approximate location</p></br>


<div class="box">
<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
</div>
</div>
